version: "3.8"

services:
  mysql:
    image: mysql:8.1
    container_name: my_sql_db
    restart: always
    ports:
      - "3306:3306"        
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: review_aggregator_db
      MYSQL_USER: user
      MYSQL_PASSWORD: user123
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    driver: local